#style_corpus {
	background-color: white;
	color: blue;
    text-align:justify;
    font-size:16pt;
    margin-left:25px;
    
}

#footer {
	background-color: white;
	color: blue;
	text-align:justify;
    font-size:16pt;
    margin-left:25px;
}