.page{
    background-color:#e0ffff;
}

.title_type{
    background-color:#b0c4de;
    font-size:30pt;
    text-align:center;
}
.link_linkedin{
    font-size:16pt;
    margin-left:25px;
    font-style:italic;
}

.bloc_type{
    background-color:#b0c4de;
    font-size:18pt;
    font-style:italic;
    margin-left:50px;
}

.corpus{
    text-align:justify;
    font-size:16pt;
    margin-left:25px;
}

.footer_type{
    text-align:rignt;
    font-size:12pt;
    font-style:italic;
}
